/* define body feature */
body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    max-width: 960px;
    height: 1000px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* define header feature */
.header {
    background: #ebebeb;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* define navigation bar feature */
.nav {
    background: #ebebeb;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* define flexbox so that section and aside have the same height */
.flexbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* define section features */
.section {
    background: #ebebeb;
    text-align: center;
    margin-top: 10px;
    width: 55%;
    float: left;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: auto;
}

/* define article features */
.article {
    background: #777;
    color: #ebebeb;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* define h1 features */
h1 {
    background: #ebebeb;
    color: #777;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* define paragraph features */
p {
    background: #ebebeb;
    color: #777;
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* define aside container features */
.aside {
    background: #ebebeb;
    text-align: center;
    margin-top: 10px;
    width: 41%;
    float: right;
    height: auto;
    margin-left: auto;
    padding-top: 20px;
}

/* define footer features */
.footer {
    background: #ebebeb;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}